.section-title {
  margin-bottom: 40px;
}

.section-title.center {
  text-align: center;
}

.section-title__subtitle {
  display: block;
  font-size: 12px;
  letter-spacing: 2px;
  color: #a47148;
  margin-bottom: 10px;
}

.section-title__title {
  font-family: var(--font-title);
  font-size: 32px;
  color: #1a1a1a;
}